@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
}

.parentFlex {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.left_Flex {
  flex: none;
  margin-right: 4.5rem;
}

.right_Flex {
  flex: none;
  margin-left: 4.5rem;
}

.center_Flex {
  flex: none;
  margin: 5rem, 1rem, 1rem, 1rem;
}

.big_chart {
  height: 20rem;
  width: 50%;
}

.big_text {
  font-family: "Oxygen";
  font-size: 3.6rem;
}

.middle_text {
  font-family: "Oxygen";
  font-size: 0.9rem;
}

.big_date {
  font-family: Karla;
  font-size: 3.2rem;
}

.medium_date {
  font-family: Karla;
  font-size: 0.8rem;
}
